.c-asideNav {

}

.c-asideNav__list {

}

.c-asideNav__item {
    display: inline-block;
}

.c-asideNav__link {
    font-size: ms(-1);
    margin-right: 1rem;
    text-decoration: none;

    &:hover {
        border-bottom: 2px solid currentColor;
    }

    &.bullet {
        background: color('primary');
        padding: 0.2rem 0.8rem;
        border-radius: 100px;
        &:hover {
            background: color('primary', 'dark');
            border-bottom: none;
        }
    }
}